.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

  video {
      display: none;
    }

  button {
    position: absolute;
    bottom: 60px;
    left: 0;
    width: 100%;
    height: 40px;
    border: none;
    background: red; 
    display: flex;
    justify-content: center;
    align-items: center;
  }

  canvas { /* Själva kameran */
    margin-top:60px;
    width: 320px;
    transform: rotateY(180deg);
    -webkit-transform:rotateY(180deg); /* Safari and Chrome */
    -moz-transform:rotateY(180deg); /* Firefox */
  }

  img {
    position: absolute;
    bottom: 120px;
    transform: rotateY(180deg);
    -webkit-transform:rotateY(180deg); /* Safari and Chrome */
    -moz-transform:rotateY(180deg); /* Firefox */
  }