.starNotFollow {
    flex-grow: 0.2;
    background: none;
    border: none;
    width: 4vh;
    color: whitesmoke;
    padding-right: 15px;
}

.starFollow {
    flex-grow: 0.2;
    background: none;
    border: none;
    width: 4vh;
    color: rgb(255, 201, 83);
    padding-right: 15px;
}

