.messageBar {
    /* bottom: 0;
    position: fixed;
    height: 8vh;
    width: 100%; */
    background: #4b4b4b;
    display: flex;
    height: 72px;
    padding-top: 10px;
    padding-left: 5px;
}

.messageBar form{
   width: 100%;
   padding-right: 8px;
   padding-left: 5px;
}

.inputMessage {
    /* background: #2b2b2b;
    border-radius: 30px;
    padding: 3vw;
    max-height: 6vh;
    flex-grow: 10;
    padding: 5px;
    margin-top: 10px;
    overflow: hidden; */
   
    position: relative;
    display: flex;
    background: #2b2b2b;
    border-radius: 30px;
    height: 40px;
    /* margin: 0 10px 10px 10px; */
    overflow: hidden;
    /* width: 80vw; */
   
}



.inputMessage input{
    width: 100% !important;
    height: 100% !important;
    text-indent: 10px;
    color: whitesmoke;
}

.btn {
    flex-shrink: 1;
    background: none;
    border: none;
    width: 4vh;
    color: whitesmoke;
}

.sendBtn{
    padding-right: 10px;
    margin-left: 10px;
    background: none;
    border: none;
    color: whitesmoke;
}

.preview{
    display: block;
    width: 100px;
}