.photoList{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.instaBox{
  padding: 10px;
  background-color: rgba(42, 42, 54, 0.95);
  border-radius: 10px;
  margin: 5% auto;
  width: 340px;
  display: flex;
}

.img{
  width: 320px !important;
  justify-content: center;
  overflow: hidden;
}



.insta{
  background-color: rgba(42, 42, 54, 0.95);
  display: flex;
  width: 100%;
  margin-left: 0;
  width: 320px !important;
  overflow: hidden;
  padding-top: 10px;
}

.caption{
  color: whitesmoke;
  text-indent: 10px;
  width: 90%;
  height: 60px;
}


.name{
  color:white;
  margin-top: 0;
}

.dateStamp{
  color: rgba(245, 245, 245, 0.781);
  padding-top: 10px;
  padding-bottom: 5px;
  text-transform: initial;
}

.inputSearch {
  position: relative;
  display: flex;
  background: #313131;
  border-radius: 30px;
  height: 40px;
  overflow: hidden;
  width: 90%;
  margin: 5% 5% 0 5%;
}

.test{
  color: rgba(245, 245, 245, 0.733);
  margin-top: 8px;
  margin-left: 8px;
}

.inputSearch input {
  width: 100% !important;
  height: 100% !important;
  text-indent: 7px;
  color: whitesmoke;
}