.profileContainer {
    display: flex;
    flex-direction: column;
}

.loginDetails {
    border-radius: 30px;
}

.bottomContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #2B2B2B;
    color: white;
    height: 200px;
}

.settings {
    padding: 5px;
}

